#myModal {
  position: fixed;
  left: calc(50% - 218px) ;
  top: calc(30%) ;
  z-index: 100;
}
#myModal .modal-dialog .red{
  background-color: rgba(255, 40, 40, 0.842);
  color: white;
  text-shadow: 0 0 5px black;
}

#myModal .modal-dialog .green{
  background-color: rgba(0, 158, 40, 0.842);
  color: white;
  text-shadow: 0 0 5px black;
}