.btn-start {
    box-sizing: border-box;
    font-size: 30px;
    margin: 10px auto;
    width: 100%;
    max-width: 650px;
    height: 45px;
    line-height: 45px;
    background: linear-gradient(40deg,rgba(0, 228, 152),#6523ff);
    color: #fff;
    border-radius: 10px;
    outline: 0!important;
    border-width: 1px;
    transition: .3s;
}