.container-fluid {
  display: flex;
  flex-direction: column;
  width: 1000px;
}
input {
  box-shadow: none !important;
}

/* * {
  text-transform: capitalize;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: black 0px 0px 3px;
} */